.bar{ background-color: #E57373;}
.smalltxt{ font-size: .80em;}
.smallertxt{ font-size: .75em;}
.error{ font-size: .80em; color: #F44336; } 
.fleft { float: left; }
.fright { float: right; }
.mright { margin: 10px; }

